* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    width: 100vw;
    height: 100vh;
    font-size: 16px;
}
body {
    width: 100%;
    height: 100%;
    position: fixed;
}
.container {
    width: 100%;
    height: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
    word-spacing: 2px;
}
.cabecalho {
    background-color: #222222;
    width: 100%;
    padding: 1rem 0;
    flex: 0 0 auto;

}
h1 {
    font-size: clamp(0.2rem, 8vw, 1.5rem);
    margin-bottom: .5rem;
}
h2 {
    font-size: clamp(0.2rem, 3.5vw, 0.9rem);
    
}
.rodape {
    background-color: #222222;
    width: 100%; 
    padding: 1rem 0;
    flex: 0 0 auto;
    overflow: hidden;
    
}
p {
    font-size: clamp(0.2rem, 3.5vw, 0.9rem);
    white-space: nowrap;
}
.areaDoJogo {
    flex: 1;
}
.caixaDoJogo { 
  
}
.interface {
  
}
.tabuleiro {
  
}

.raqueteEsquerda, .raqueteDireita {
    
}

.raqueteEsquerda {
    
}

.raqueteDireita {
    
}

.bola {
    
    
}
.pontuacao {
    
}
.pontuacao > span {
    
}