* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-size: 16px;
  transition: font-size 0.3s ease;
}


html {
  width: 100vw;
  height: 100vh;
  font-size: var(--font-size);
}

body {
  width: 100%;
  height: 100%;
  position: fixed;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE 10+ */
  user-select: none;         /* Standard syntax */
}

.container {
  width: 100%;
  height: 100%;
  background-color: #000;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  letter-spacing: 0.0625rem;
  word-spacing: 0.125rem;

}

.cabecalho {
  background-color: #222222;
  width: 100%;
  padding: 1rem 0;
  flex: 0 0 auto;
}

h1 {
  font-size: 2rem;
  margin-bottom: .5rem;
}

h2 {
  font-size: 1.2rem
}

.rodape {
  background-color: #222222;
  width: 100%;
  padding: 1rem 0;
  flex: 0 0 auto;
  overflow: hidden;

}

p {
  font-size: 0.7rem;
  white-space: nowrap;
}

.areaDoJogo {
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.caixaDoJogo {
  width: 90vw; 
  height: 65vh; 
  max-width: 350px; 
  max-height: 500px;
  display: flex;
  flex-direction: column;
  /*background-color: burlywood;*/
}

.interface {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 10%;
  width: 100%;
  padding: 0 1rem;
  font-size: 0.9rem;
  font-weight: bolder;
  text-transform: uppercase;
}

.interfaceLadoEsq {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.interfaceLadoDir {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.interfaceCentro {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.contadorPontos {
  display: inline-block;
  line-height: 1;
}
.contadorRecorde {
  display: inline-block;
  line-height: 1;
}
.vidas {
  display: inline-block;
  line-height: 1;
}

.vidas span {
  display: inline-block;
  line-height: 0;
  padding: 0;
  letter-spacing: -0.3rem;
}

.vidaPerdida {
  opacity: 0.3;
  filter: grayscale(100%);
}


.interface span {
  font-family: "Press Start 2P", serif;
  font-weight: 400;
  font-style: normal;
}

.tabuleiro {
  height: 90%;
  border: 0.0625rem solid #fff;
  background-color: #222222;
  position: relative;
}

.botao {
  background-color: #444;
  color: #fff;
  border: 0.125rwm solid #fff;
  padding: 0.75rem 1.25rem;
  font-family: "Press Start 2P", serif;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  border-radius: 0.3125rem;
  display: block;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center center;
}

.botao:hover {
  background-color: #666;
}

.botao:active {
  background-color: #333;
  transform: translate(-50%, -50%) scale(0.95);
}

.raquete {
  width: 100px; 
  height: 16px;
  border-radius: 2px;
  background-color: #ffffff;
  position: absolute;
  background-color: green;
  bottom: 0;
  left: 0;
}

.bola {
  width: 16px; 
  height: 16px; 
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  background-color: red;
  bottom: 16px;
  left: 0;
}

.temporizador {
  font-family: "Press Start 2P", serif;
  font-size: 4rem;
  font-weight: bold;
  transition: opacity 0.5s ease, filter 0.5s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center center;
  display: none;
}

.desfocado {
  opacity: 0;
  filter: blur(10px);
}

.fimDoJogo {
  width: 100%;
  font-family: "Press Start 2P", serif;
  font-size: 1.5rem;
  font-weight: bold;
  transition: opacity 0.5s ease, filter 0.5s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center center;
  display: none;
}