/* style.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    width: 100vw;
    height: 100vh;
}

body {
    width: 100%;
    height: 100%;
    position: fixed;
}


.container {
    width: 100%;
    height: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
    word-spacing: 2px;
}
.cabecalho {
    background-color: #222222;
    width: 100%;
    padding: 1rem 0;
    flex: 0 0 auto;

}
h1 {
    /*font-size: 1.5rem;*/
    font-size: clamp(0.2rem, 8vw, 1.5rem);
    margin-bottom: .5rem;
}
h2 {
    /*font-size: .9rem;*/
    font-size: clamp(0.2rem, 3.5vw, 0.9rem);
    
}
.rodape {
    background-color: #222222;
    width: 100%; 
    padding: 1rem 0;
    flex: 0 0 auto;
    overflow: hidden;
    
}
p {
    /*font-size: .9rem;*/
    font-size: clamp(0.2rem, 3.5vw, 0.9rem);
    white-space: nowrap;
}
.gameContainer {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.tabuleiro {
    width: 90%; /* Ou limite a largura máxima */
    max-width: 30rem; /* Mantém o limite de 480px para telas maiores */
    aspect-ratio: 2 / 1; /* Proporção de 2:1 */
    background-color: #222;
    border: 2px solid white;
    position: relative;
}

.raqueteEsquerda, .raqueteDireita {
    width: 2%;
    max-width: 10px;
    aspect-ratio: 1 / 6;
    background-color: white;
    position: absolute;
}

.raqueteEsquerda {
    left: 0;
    top: 40%;
}

.raqueteDireita {
    right: 0;
    top: 40%;
}

.bola {
    width: 2%;
    max-width: 10px;
    aspect-ratio: 1 / 1;
    background-color: white;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    
}
.pontuacao {
    padding: 5px;
    font-size: clamp(0.1rem, 3vw, 1.5rem); /* Tamanho responsivo */
}
.pontuacao > span {
    margin: 0 10px;
}